.side
  .side__top
    .side__top__box
      .side__top__box__name
        祐也
      %ul.side__top__box__IconList
        %li.side__top__box__IconList__edit
          = link_to "#" do
            %i.fas.fa-edit
        %li.side__top__box__IconList__cog
          = link_to "#" do
            %i.fas.fa-cog
  .side__groups
    .side__groups__box
      .side__groups__box__name
        テックキャンプ
      .side__groups__box__message
        まだメッセージはありません。